<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}result_error{% endblock %}

{% block content %}
<div class="container">
{% block page_content %}
    <div>
        <h1>Please note for {{ f_method }}, we could only predict the aggregate order</h1>
        <p>Please either change client to "all" or material to "all"...</p>
    </div>
    <span><a href="{{url_for('index')}}">return</a></span>
{% endblock %}
</div>
{% endblock %}
</html>